@import "tailwindcss";

:root {
  --font-heading: "Cinzel", serif;
  --font-body: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}
